h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: slategrey;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: dodgerblue;
}

img {
    width: 50vw;
}